<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talleres Municipales-Puente Alto</title>
    <!-- css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/Tarjetas.css'%}">

    <!-- NAV -->
    <div class="container-fluid " style="background-color: #cdd1c683">
        {% block content %}
        {% include 'Navbar2.html'%}
        {% endblock %}
    </div>

    <!-- NAV FIN -->
</head>

<body>
    <div class="container text-center" style="margin: auto;">
        <div class="row">
            <div class="col-12">
            <div class="col-md-12 offset-md-12 text-start">
                <h1>PANTALLA DE INDICADORES</h1>
            </div>
        </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-4 offset-md-2">
            <div class="card text-white bg-warning mb-4" style="max-width: 18rem;">
                <div class="card-header"><h2>TOP Ventas</h2></div>
                <div class="card-body">
                    <!-- <h4 class="card-title">TOP Vnetas</h4> -->
                    <p class="card-text"><h2>Productos y repuestos</h2>
            </div>
        </div>
    </div>

        <div class="row" >        
            <div class="col-md-4 offset-md-2">
            <div class="card text-white bg-danger mb-4" style="max-width: 18rem;">
                <div class="card-header"><h1>Stock</h1></div>
                <div class="card-body">
                    <!-- <h5 class="card-title">Warning card title</h5> -->
                    <p class="card-text"><h3>Productos con -50 de stock</h3></p>
                </div>
            </div>
        </div>

    </div>

    <br>
    <a href="https://wa.me/+56949052465">  <img src="" alt=""></a>
    

    <!-- TARJETAS FIN -->
    <!-- ----------------------- -->
    <!-- Footer -->
    {% include 'Footer.html'%}
    <!-- Footer FIN-->
    <!-- ----------------------- -->
    <!-- MODAL-->

    <!-- MODAL FIN-->

    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


{% if messages %}
{% for m in messages %}
<script>
    Swal.fire({
        "title": "Felicitaciones",
        "text": "{{m}}",
        "icon": "success"
    })

</script>
{% endfor %}
{% endif %}



</html>